@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.header{
  height: 100vh;
  background-image: url(../img/laptop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.header__content {
  position: relative;
}

.menu{
  width: 30px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  transition: 1s;
}

.menu__item{
  height: 3px;
  background: #212733;
  border-radius: 10px;
  transition: 1s;
}

.menu__item:nth-of-type(1){
  width: 100%;
}
.menu__item:nth-of-type(2){
  width: 80%;
}
.menu__item:nth-of-type(3){
  width: 60%;
}

.header__menu{
  position: fixed;
  height: 100vh;
  right: -100%;
  top: 0;
  width: 750px;
  background: #191A1E;
  padding: 160px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.5s linear;
}

#menu{
  position: absolute;
  z-index: -10;
}

#menu:checked~.header__menu{
  right:0;
}

#menu:checked~.menu{
  position: absolute;
  right: 380px;
  top: 45px;
  transition: 1s;
}

#menu:checked~.menu>.menu__item:nth-of-type(1){
  width: 100%;
  position: absolute;
  transform: rotate(45deg);
  background: white;
}
#menu:checked~.menu>.menu__item:nth-of-type(2){
  width: 100%;
  position: absolute;
  transform: rotate(-45deg);
  background: white;
}
#menu:checked~.menu>.menu__item:nth-of-type(3){
  width: 100%;
  position: absolute;
  transform: rotate(-45deg);
  background: white;
}



.header__list{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header__link{
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.header__link::after{
  content: "";
  width: 0;
  height: 1px;
  background: white;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 2.275);
}

.header__link:hover{
  color: white;
}

.header__link:hover::after{
  width:80%;
}

.button{
  width: 280px;
  height: 60px;
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button_bg-none {
  background: transparent;
  border: 1px solid #000000;
  color: #000000;
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 150px;
}

.header__title {
  font-size: 74px;
  color: #212733;
}
.header__text {
  margin-bottom: 60px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

/* header finished */
/* main starts */


.company__item {
  position: relative;
  height: 100vh;

}
.company__item>img {
  position: absolute;
  width: 960px;
  height: 100%;
}

.company__block {
  width: 500px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel-indicators {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-right: 138px;
  height: 100%;
  margin-bottom: 1rem;
  list-style: none;
  width: 10px;
  margin-left: auto;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-radius: 50%;
}

.carousel-indicators button {
  margin-top: 15px;
}

.title
{
  font-weight: 500;
  font-size: 48px;
  text-align: right;
  margin-bottom: 60px;
}

.company__text {
  text-align: right;
  font-weight: 500;
  line-height: 150%;
  color: #606060;
}

.carousel-inner {
  height: 764px;
}

.offer__height {
  height: 210px;
}